<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Le styles -->
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="/bootstrap/js/html5shiv.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/blueimp-gallery.min.css">
        <link rel="stylesheet" href="/css/main.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="/bootstrap/js/html5shiv.js"></script>
        <![endif]-->

        <!-- Fav and touch icons
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/bootstrap/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/bootstrap/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/bootstrap/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/bootstrap/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="/bootstrap/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/bootstrap/ico/apple-touch-icon-144-precomposed.png">
        Fav and touch icons -->
    </head>
    <body>
        <!-- NAVBAR
        ================================================== -->
    <div class="navbar-wrapper">
    <div class="navbar">
        <div class="navbar-inner">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img class="logo visible-desktop" src="/img/logo_text.png">
        <a class="brand hidden-desktop" href="/">La Brisa Loca</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/rates.html">Rates</a></li>
            <li><a href="/location.html">Location</a></li>
            <li><a href="/gallery.html">Gallery</a></li>
            <li><a href="/videos.html">Videos</a></li>
            <li><a href="/activities.html">Activities</a></li>
            <li><a href="http://agaveazulsantamarta.com/">Restaurant / Agave Azul</a></li>
            <li class="hidden-desktop"><a href="http://reservations.bookhostels.com/labrisaloca.com/">Book</a></li>
            <li class="visible-desktop"><a href="/book.html">Book</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
    </div><!-- /.navbar -->



      {{ content }}

      <div class="container">
          <!-- FOOTER -->
          <footer id="footer">
          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>La Brisa Loca | (5) 431 6121 | 317 585 9598 | info@labrisaloca.com | Calle 14 N3-58 Centro Historico - Santa Marta Colombia</p>
          </footer>
      </div>
  </body>
</html>
